@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* --------------Global-Classes-------------------  */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    max-width: 1225px;
    margin: auto;
    padding: 0 30px;
}
h1, h2, h3, .h1, .h2, .h3 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
/* --------------/Global-Classes-------------------  */

/* --------------Header-style-------------------  */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 100;
}
header.sticky{
    transition:  0.5s ease;
    background-color: #ffffff;
}
header.sticky .nav-menu a{
    color: #000000cc;
}
header.sticky .nav-menu a:hover{
    color: #f9ab30;
}
header.sticky .nav-menu .yellow{
    color:  #f9ab30;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33313b;
    height: 80px;
    padding: 0 30px;
}
.logo span:nth-child(1){
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}
.logo span:nth-child(2){
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-menu a{
    font-size: 1.6rem;
    color: #ffffffff;
}
.nav-menu  .yellow{
    color: #f9ab30;
}
.nav-menu li a:hover{
    color: #000;
}
.nav-link .btn{
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 12px 20px;
    background: #f9ab30;
    color: #ffffffff;
    border: 1px solid#f9ab30;;
    cursor: pointer;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger .line{
    width: 35px;
    height: 3px;
    margin: 6px;
    background-color: #000000;
}
/* --------------/Header-style-------------------  */

/* --------------Hero-style-------------------  */
.hero{
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url(/images/bg_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
}
.h-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: #000000;
    background: #2f88fc;
    background: linear-gradient(45deg, #2f88fc 0%, #ff5959 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f88fc', endColorstr='#ff5959', GradientType=1 );
}
.hero-container{
    top: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-container h1{
    width: 70%;
    font-size: 6rem;
    color: #fff;
    text-align: center;
}
.hero-container p{
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
.video-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #f9ab30;
    margin: 0 auto;
    animation: pulse 2s infinite;
    border-radius: 50%;
}
.video-btn i{
    font-size: 1.8em;
    color: #ffff;
    animation: pulse infinite 2s;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(249 171 48 / 40%);
    }
    
    70% {
        box-shadow: 0 0 0 30px rgb(249 171 48 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(249 171 48 / 0%);
    }
    
}
/* --------------/Hero-style-------------------  */

/* --------------About-style-------------------  */
.about{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f9fafb;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.aboutBoxs h3{
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.aboutBoxs p{
    font-size: 1.6rem;
    color: #999999;
}
.aboutLeft{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
.aboutRight h2{
    font-size: 4rem;
    font-weight: 600;
    font-weight: 600;
    padding-bottom: 20px;
}
.aboutRight p{
    font-size: 1.6rem;
    color: #999999;
}
.aboutRight p:nth-child(2){
    padding-bottom: 25px;
}
.aboutRight p:nth-child(3){
    padding-bottom: 25px;
}
.aboutRight .btn{
    width: 220px;
    height: 60px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #f9ab30;
    background-color: #f9ab30;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 30px;
}
.about-img img{
    width: 75px;
}
/* --------------About-style-------------------  */

/* --------------info-style-------------------  */
.info{
    width: 100%;
    height: auto;
}
.info-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
}
.infoLeft{
    width: 100%;
    height: auto;
}
.infoLeft img{
    width: 100%;
    height: 560px;
}
.infoRight{
    align-self: center;
}
.infoRight h2{
    width: 90%;
    font-size: 4rem;
    font-weight: 600;
    color: #000000cc;
}
.infoRight p{
    font-size: 1.6rem;
    padding-top: 30px;
    color: #999999;
}
.number-wrapper{
    padding-top: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.numberBox span{
    color: #f9ab30;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 10px;
}
.numberBox p{
    font-size: 1.6rem;
    padding-top: 10px;
}
/* --------------info-style-------------------  */

/* --------------Bestplace-style-------------------  */
.bestplace{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bestplace-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.bestplaceBoxs{
    position: relative;
    border-radius: 10px;
}
.bestplaceBoxs h3{
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 2.2rem;
    font-weight: 400;
    color: #fff;
}
.bestplace-overlay{
    position: absolute;
    right: 0;
    bottom: 25px;
    background-color: #33313b;
    color: #fff;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition:  0.3s ease-in;
    border-radius: 20px 0 0px 20px;
}
.bestplace-overlay span{
    font-size: 1.8rem;
    color: #fff;
}
.bestplaceBoxs:hover .bestplace-overlay{
    width: 100px;
    background-color: #f9ab30;
}
.places-img{
    width: 100%;
    height: 320px;
    border-radius: 5px;
}
.places-img img{
    border-radius: 5px;
}
/* --------------Bestplace-style-------------------  */

/* --------------Destination-style-------------------  */
.destination{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
.destination-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.destinationBoxs{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.destinationBoxs:hover .desti-overlay{
    max-width: 135px;
    background-color: #33313b;
}
 .desti-img {
    position: relative;
    width: 100%;
    height: 320px;
}
.desti-overlay{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    background-color: #f9ab30;
    width: 100%;
    max-width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition:  0.3s ease-in;
}
.desti-overlay span{
    font-size: 1.6rem;
    color: #fff;
}
.desti-content{
    padding: 40px 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.desti-content span{
    font-size: 1.4rem;
    color: #999999;
}
.desti-content h3{
    font-size: 2.2rem;
    font-weight: 600;
    color: #000000cc;
}
.desti-content p{
    color: #999999;
    font-size: 1.4rem;
}
.desti-content p i{
    color: #999999;
    font-size: 1.2rem;
    margin-right: 3px;
}
.desti-info{
    padding: 5px 20px 30px 20px;
    display: flex;
    gap: 10px;
}
.desti-info span{
    font-size: 1.6rem;
    color: #999999;
}
.desti-info span i{
    font-size: 1.4rem;
    color: #f9ab30;
    margin-right: 4px;
}
/* --------------/Destination-style-------------------  */

/* --------------Feedback-style-------------------  */
.feedback{
    width: 100%;
    background: url(/images/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 150px;
    padding-bottom: 100px;
}
.card{
    padding: 30px 20px;
    background-color: #fff;
}
.card .owl-para p{
    font-size: 1.7rem;
    text-align: left;
    color: #999999;
}
.feed-info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding-top: 35px;
    text-align: left;
}
.feedRight h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: #33313b;
}
.feedRight p{
    font-size: 1.4rem;
    color: #999999;
}
.feed-img{
    width: 80px;
    height: 80px;
}
.feed-img img{
    border-radius: 50%;
}
.wrapper{
    width: 100%;
    padding: 0 5px;
}
.wrapper .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 10px;
    width: 10px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    background-color:  #999999 !important;
    transition: all 0.3s;
}
.owl-dot:hover,
.owl-dot.active{
    background: #f9ab30 !important;
}
/* --------------Feedback-style-------------------  */

/* --------------Post-style-------------------  */
.Post{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.title h2{
    font-size: 4rem;
    font-weight: 600;
    color: #000000cc;
}
.post-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.postBoxs{
    position: relative;
}
.post-img{
    position: relative;
    width: 100%;
    height: 320px;
}
.post-img img{
    position: relative;
}
.post-overlay{
    position: absolute;
    top: 250px;
    background-color: #f9ab30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 70px;
    border-radius: 0 50px 0 0px;
}
.post-overlay span{
    font-size: 5rem;
    color: #ffffffff;
}
.post-overlay p{
    color: #ffffffff;
    font-size: 1.4rem;
}
.post-content h3{
    font-size: 2rem;
    color: #000;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
}
.post-content p{
    font-size: 1.6rem;
    color: #999;
    letter-spacing: 0.5px;
}
/* --------------Post-style-------------------  */

/* --------------contact-style-------------------  */
.contact{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contactLeft{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.contactLeft iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.contactRight{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #f9fafb !important;
}
.contactRight form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}
.contactRight form input{
    width: 100%;
    padding: 15px;
    outline: none;
}
.contactRight form textarea{
    resize: none;
    outline: none;
    padding: 15px;
}
.contactRight .con-btn{
    width: 200px;
    background-color: #f9ab30;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    border: none;
}
/* --------------/contact-style-------------------  */

/* --------------Footer-style-------------------  */
footer{
    width: 100%;
    height: auto;
    position: relative;
    background: url(/images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
   padding-top: 160px;
   padding-bottom: 80px;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.footer_title {
    padding-bottom: 20px;
}
.footer_title h2{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
}
.footer_items:nth-child(2){
    justify-self: center;
}
.footer_items:nth-child(3){
    justify-self: center;
}
.footer_items:nth-child(2){
    justify-self: center;
}
.footer-content p{
    color: #ffffffb3;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
}
.foot_icon{
    display: flex;
    gap: 60px;
    padding-top: 30px;
}
.foot_icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #33313b;
}
.footer-links ul li{
    margin-bottom: 10px;
    color: #999999;
}
.footer-links ul a{
    font-size: 1.6rem;
    color: #ffffff80;
}
.foot-info{
    display: grid;
    grid-template-columns: 25px 1fr;
    row-gap: 10px;
}
.foot-info span{
    font-size: 1.6rem;
    color: #ffff;
}
.foot-info li{
    color: #ffffffb3;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
}
.footerBottom{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerBottom p{
    font-size: 1.6rem;
    color: #ffffffb3;
}
.footerBottom i{
    font-size: 1.6rem;
    color: #f9ab30;
}
.footerBottom span{
    font-size: 1.6rem;
    color: #f9ab30;
}
/* --------------Footer-style-------------------  */